---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title='Igor Rak | Tworca stron webowych | Strony internetowy Zielona Góra'
>
  <h1>
    <span class='text-gradient text-3xl lg:text-5xl font-bold uppercase'
      >my stack</span
    >
  </h1>
  <div class='text-xl'>
    <h2 class='font-bold'>Frontend:</h2>
    <ul class='list-disc'>
      <li>HTML</li>
      <li>CSS, SCSS, Tailwind</li>
      <li>JavaScript+TypeScript, React (Redux,MobX)</li>
    </ul>
    <h2 class='font-bold mt-4'>JavaScript Frameworks:</h2>
    <ul class='list-disc'>
      <li>React Create App</li>
      <li>Astro JS</li>
      <li>Next JS</li>
    </ul>
    <h2 class='font-bold mt-4'>Backend:</h2>
    <ul class='list-disc'>
      <li>NodeJS+Express</li>
    </ul>
    <h2 class='font-bold mt-4'>CMS:</h2>
    <ul class='list-disc'>
      <li>Wordpress+Advanced Custom Fields,Carbon Fields, Form7</li>
      <li>Strapi CMS</li>
    </ul>
    <h2 class='font-bold mt-4'>Data Bases:</h2>
    <ul class='list-disc'>
      <li>MongoDB(Atlas), PostgreSQL, MySQL</li>
    </ul>
  </div>
</Layout>
