---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
  title='Igor Rak | Tworca stron webowych | Strony internetowy Zielona Góra'
>
  <h1>
    <span
      class='text-gradient anime-appireance text-3xl lg:text-5xl font-bold uppercase'
      >portfolio</span
    >
  </h1>
  <ul
    role='list'
    class='grid grid-cols-1 gap-y-4 gap-x-0 lg:grid-cols-2 lg:gap-x-4 mt-6 lg:mt-12 mb-10'
  >
    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668082381/portfolio/lawyers_nn2vym.webp'
      href='https://radca-test.pl/'
      title='PageSpeed Insights Google test ma wszystkie wskazniki 100%. Komórka a stacjonarny.'
      body='Stack: AstroJs React Tailwind CMS:Strapi(Rest API)+Postgress'
      isFirst={true}
      github='https://github.com/igorraknorwid/lawyer'
    />
    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668079635/portfolio/image_7_guw4ov.webp'
      href='https://midi.thecamels.pl/'
      title='Własny motyw Wordpress'
      body='Underscore,Advanced Custom Fields, Form7'
      github='https://github.com/igorraknorwid/auto'
    />
    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668079635/portfolio/image_3_2_bjpoti.webp'
      href='https://bibliography.vercel.app/'
      title='Proekt dla Wojewódskiej Biblioteki'
      body='Frontend:ReactJs+MobX,SASS Backend:Node - ExpressJS, MongoDB'
      github='https://github.com/igorraknorwid/biblio_client'
    />
    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668079635/portfolio/image_6_yfq2rp.webp'
      href='https://template-igor-rak.vercel.app/'
      title='Strona z mapą i formą kontaktową'
      body='NextJS Tailwind'
      github='https://github.com/IGOR-RAK/template'
    />
    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668079635/portfolio/image_2_1_vkcrkm.webp'
      href='https://wood-one.vercel.app/'
      title='Just Landing'
      body='NextJS Tailwind'
      github='https://github.com/igorraknorwid/wood'
    />

    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668079635/portfolio/image_4_ujqbnw.webp'
      href='https://gao-j0tgr0fxm-igorraknorwid.vercel.app/'
      title='Forma klientska o kilka kroki'
      body='React MobX SCSS'
      github='https://github.com/IGOR-RAK/my-gao'
    />

    <Card
      image='https://res.cloudinary.com/zielona-g-ra/image/upload/v1668087730/portfolio/image_11_bsdueh.webp'
      href='https://rolls-nu.vercel.app/'
      title='Dostawa rollów'
      body='React Redux SCSS'
      github='https://github.com/IGOR-RAK/Rolls'
    />
  </ul>
</Layout>
